body {
  /* background-color: rgb(14, 14, 49) !important; */
  background-color: rgb(6, 32, 57)  !important;
  color: white;
}

hr {
  border-top: 1px solid #5e5c75 !important;
}
.homeLinks {
  float:right;
  margin-top:0.7rem !important;
}
img {
  vertical-align: unset !important;
}
.small {
  font-size: 80% !important;
  font-weight: 400 !important;
}

.bg_image {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

/* login register pages */
.main_logreg {
width: 320px;
background: #000;
opacity: 0.85;
color: #fff;
box-sizing: border-box;
padding: 20px 30px;
text-decoration: none;
margin: 50px auto;
}

#login_header,
#register_header {
margin: 0;
padding: 0 0 20px;
text-align: center;
font-size: 30px;
}

.main_logreg p {
margin: 0;
padding: 0;
font-weight: bold;
}

.main_logreg input {
width: 100%;
margin-bottom: 20px;
}

.main_logreg input[type="text"],
input[type="email"],
input[type="password"] {
border: none !important;
border-bottom: 1px solid white;
background: transparent;
outline: none;
height: 50px;
color: white;
font-size: 16px;
}

.main_button {
border: none;
outline: none;
height: 50px;
font-size: 18px;
border-radius: 20px;
width: 100%;
}

.main_button:hover {
cursor: pointer;
background-color: grey;
color: white;
}

#tab_btn {
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
width: 100%;
justify-content: center;
text-decoration: none;
}

.main_logreg a {
text-decoration: none;
}

.login_tab,
.register_tab {
text-decoration: none;
display: block;
width: 100%;
background-color: #37474f;
text-align: center;
color: #fff;
font-size: 15px;
padding: 10px;
}

.active {
background-color: #eee;
color: #000;
}

.message {
  color: red;
}

/* home page */
.carouselImg {
  width: 100% !important;
}
.carousel-inner {
  height: 480px !important;
}

/* buttons */
.nav_button {
border: none;
outline: none;
font-size: 16px;
border-radius: 5px;
padding: 10px;
margin: auto 10px;
}
.btn {
margin: 10px 0;
}
.deleteButton {
  float:right;
  margin:unset !important;
}

/* text under movie component */
.smallFont {
  font-size: 95%;
}

.maxHeight {
  min-height: 50px;
  max-height: 50px;
  overflow:hidden;
  text-overflow: ellipsis;
}

/* movie grid */
.img-grid {
  flex-grow: unset !important;
  min-width: 180px !important;
  margin-bottom: 20px;
}

/* Hover/multiselect components */
.max-width-400 {
  max-width: 400px !important;
}
.max-width-300 {
  max-width: 300px !important;
}
.rmsc .dropdown-heading .dropdown-heading-value {
  text-overflow: unset !important;
}
.listLabels {
  background: #d4d4d8;
  padding: 2px 6px;
  border-radius: 0.25rem;
  width: max-content;
  color: black;
  margin-right: 0.25rem;
}

.tooltip-inner {
  padding: .5rem 1rem !important;
  width: 250px !important;
  max-width: 250px !important;
  text-align: left !important;
}

.tooltip.show {
  opacity: 1 !important;
}

.relativeDiv {
  position: relative !important;
}

.blackCircle {
  height: 2em;
  width: 2em;
  text-align: center;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: .5em;
  right: 1.5em;
}
.smallerBlackCircle {
  height: 1.5em;
  width: 1.5em;
  text-align: center;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -.5em;
  left: 4.75em;
}

.list-icon {
  color: white;
}

.svg-inline--fa {
  vertical-align: bottom !important;
}
.homePageIcon {
  vertical-align: -0.125em !important;
  width: .75em !important;
}